html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    width: 100%;
    max-width: 1284px;
    height: 100%;
    max-height: 2778px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    background-image: url("../res/backimg1.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content:stretch;
    align-content: stretch;
  }
  .header {
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: center;
    vertical-align: center;
  }
  .two {
    grid-column: 1;
    grid-row: 2;
  }
  .three {
    grid-column: 2;
    grid-row: 2;
  }
  .four {
    grid-column: 3;
    grid-row: 2;
  }
  .button-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .button-one {
    grid-row: 1;
    text-align: center;
    align-self: center;
  }
  .button-two {
    grid-row: 2;
    text-align: center;
    align-self: center;
  }
  .button-three {
    grid-row: 3;
    text-align: center;
    align-self: center;
  }
  .button-four {
    grid-row: 4;
    text-align: center;
    align-self: center;
  }
  .button-five {
    grid-row: 5;
    text-align: center;
    align-self: end;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5%;
  }


  .container_shot {
    display: grid;
    width: 100%;
    max-width: 1284px;
    height: 100%;
    max-height: 2778px;
    grid-template-columns: 0.7fr repeat(6, 1fr) 0.7fr;
    grid-template-rows: repeat(15, 1fr);
    background-image: url("../res/backimg1.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content:stretch;
    align-content: stretch;
  }
  .goback {
    grid-column: 1 / 9;
    grid-row: 1;
    text-align: right;
    vertical-align: center;
  }
  .previous_number_title {
    grid-column: 1 / 9;
    grid-row: 2;
    text-align: center;
    align-self: center;
    font-size: 700%;
    color: rgb(229, 255, 0);
    font-family: 'TmoneyRoundWindExtraBold';
    text-shadow: 0 0 7px rgb(0, 0, 0);
  }
  .previous_number {
    grid-column: 1 / 9;
    grid-row: 3;
    text-align: center;
    align-self: center;
  }
  .previous_number_down {
    grid-column: 1 / 9;
    grid-row: 4;
    text-align: center;
    height: 100px;
  }
  .num_1 {
    grid-column: 2 / 8;
    grid-row: 6;
    text-align: center;
    align-self: center;
    border-style: dashed;
    border-color: #fff;
  }
  .num_2 {
    grid-column: 2 / 8;
    grid-row: 7;
    text-align: center;
    align-self: center; 
    border-style: dashed;
    border-color: #fff;
  }
  .num_3 {
    grid-column: 2 / 8;
    grid-row: 8;
    text-align: center;
    align-self: center;
    border-style: dashed;
    border-color: #fff;
  }
  .num_4 {
    grid-column: 2 / 8;
    grid-row: 9;
    text-align: center;
    align-self: center; 
    border-style: dashed;
    border-color: #fff;
  }
  .num_5 {
    grid-column: 2 / 8;
    grid-row: 10;
    text-align: center;
    align-self: center;
    border-style: dashed;
    border-color: #fff;
  }
.shotting {
  grid-column: 1 / 9;
  grid-row: 11 / 15;
  text-align: center;
  align-self: center;
}

@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.ball_645 {
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-weight: 500;
  border:3px solid black;
  background-color: aqua;
}
.ball_6452 {
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  color: rgb(0, 0, 0);
  font-weight: 500;
  border:3px solid black;
}
.ball_6452.balldefault {
  background: #ffffff;
  margin:10px;
}
.ball_6452.ball01 {
  background: #f5d522;
  margin:10px;
}
.ball_6452.ball11 {
  background: #63eef3;
  margin:10px;
}
.ball_6452.ball21 {
  background: #e0624c;
  margin:10px;
}
.ball_6452.ball31 {
  background: #ced3d3;
  margin:10px;
}
.ball_6452.ball41 {
  background: #6ce07c;
  margin:10px;
}

.ball_6452.lrg {
  width: 100px;
  height: 100px;
  line-height: 90px;
  font-size: 350%;
}
.ball_645.lrg2 {
  width: 80px;
  height: 80px;
  line-height: 70px;
  font-size: 350%;
}
.ball_645.ballpick {
  background: #eb3a49;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  margin:20px;
}
.ball_645.ballbonus {
  background: #fffb00;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  margin:10px;
}
